.list{
    width: 100%;
    height: 100vh;
    // position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .registerTalentModal{
        position: absolute;
        display: flex;
        width: 50%;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #fff;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

        .modalWrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            padding: 1.5em;

            .topModal{
                display: flex;
                justify-content: space-between;

                .closeIcon{
                    cursor: pointer;
                }
            }

            .modalBody{
                form{
                    display: flex;
                    gap: 1em;
                    color: #333333;

                    .fileUploadLabel{
                        display: flex;
                        height: 48px;
                        justify-content: center;
                        align-items: center;
                        background-color: #7451f8;
                        color: #fff;
                        gap: 10px;
                        cursor: pointer;
                    }
                    .profileImg{
                        display: none;
                    }
                    .selectedProfile {
                        // display: flex;
                        // flex-direction: column;
                        height: 255px;
                        flex: 1;

                        img{
                            position: relative;
                            bottom: -7px;
                            width: 100%;
                            //height: 100%;
                            object-fit: cover;
                        }
                    }
                    .formFields{
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        flex: 2;

                        .fieldsContainer{
                            display: flex;
                            justify-content: space-between;
                            gap: 15px;

                            .fieldItem{
                                display: flex;
                                flex-direction: column;
                                width: 50%;

                                input, select {
                                    // padding: 0.5em;
                                    // height: 40px;
                                    // border: 1px solid #333333;
                                    padding: 0.4em 1em;
                                    height: 40px;
                                    font-size: 1em;
                                    border: 1px solid rgba(155,155,155,.55);
                                    outline: none;
                                }
                                input[type=date],select{
                                    cursor: pointer;
                                }
                            }

                            
                        }

                        .fieldsCheckContainer {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            justify-content: space-between;

                            .fieldCheckItem{
                                display: flex;
                                align-items: center;
                                gap: 4px;
                                font-size: 15px;

                                // input{
                                //     transform: scale(1.5);
                                // }
                            }
                        }

                        .fieldItem {
                            display: flex;
                            flex-direction: column;

                            select{
                                // height: 40px;
                                // padding: 0.5em;
                                // border: 1px solid #333333;

                                padding: 0.4em 1em;
                                height: 40px;
                                font-size: 1em;
                                border: 1px solid rgba(155,155,155,.55);
                                cursor: pointer;
                                outline: none;
                            }
                        }
                        
                        .createBtnContainer{
    
                            .createBtn{
                                width: 50%;
                                font-size: 1em;
                                display: flex;
                                height: 48px;
                                justify-content: center;
                                align-items: center;
                                background-color: #7451f8;
                                color: #fff;
                                border: none;
                                gap: 10px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

        }
    }

    .listActionSection{
        position: relative;
        display: flex;
        justify-content: space-between;

        .searchTalent {
            // position: absolute;
            right: 6vw;
            display: flex;
            align-items: center;
            width: 21.5%;
    
            
            .searchCategory{
                padding: 0.4em 1em;
                height: 40px;
                font-size: 1em;
                border: 1px solid rgba(155,155,155,.55);
                cursor: pointer;
                outline: none;
            }
            .searchAgeCategory{
                // width: 50%;
                padding: 0.4em 1em;
                height: 40px;
                font-size: 1em;
                border: 1px solid rgba(155,155,155,.55);
                cursor: pointer;
                outline: none;
            }
            .searchInput{
                flex: 9;
                border: none;
                border-bottom: 2px solid rgba(155,155,155,.55);
                padding: 0.4em 1em;
                height: 40px;
                font-size: 1em;
                outline: none;
            }
            .sIcon{
                flex: 1;
            }
        }

        .createTalentBtn{
            margin: 0;
            min-width: 130px;
            height: 40px;
            background-color: #7451f8;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            min-height: 38px;
            display: flex;
            gap: 5px;
            outline: none;
            border: none;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in;
            cursor: pointer;
        }
    }

    .lWrapper{
        overflow: auto;
        padding: var(--main-padding-tb) var(--main-padding-lr);
        
        &.talentsListWrapper{
            .card{
                width: 260px;
                height: 360px;

                
                a {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    // .cardContainer{
                    //     position: relative;
                    //     display: flex;
                    //     justify-content: center;
                    //     width: 100%;
                    //     height: 100%;
                    // }
                }
            }
        }
        .lCardContainer{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;


            .talentCardContainer{
                position: relative;
                display: flex;
                flex-direction: column;

                .moveContainer {
                    display: flex;
                    position: absolute;
                    z-index: 5;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    background-color: rgba(117, 81, 248, 0.477);

                    &.inactive{
                        pointer-events: none;
                    }
                }

                .actionContauner{
                    display: flex;
                    position: absolute;
                    right: 0;
                    z-index: 5;
                    cursor: pointer;
            
                    .actionIcon{
                        background-color: rgba(0, 0, 0, 0.4);
                        color: #fff;
                        font-size: 2em;
                        position: relative;
            
                        
                    }
                    .actionOptions {
                        position: absolute;
                        // display: flex;
                        flex-direction: column;
                        gap: 0.2em;
                        top: 2em;
                        left: -1.11em;
            
                        background: #fff;
                        // border-radius: 7px;
                        display: none;
            
                        .optionItem {
                            padding: 0.3em 0.5em;
                            font-size: 0.8em;
                            font-weight: 600;
                            text-transform: uppercase;
                            text-align: center;

                            &:hover{
                                background-color: #7451f8;
                                color: #fff;
                            }
                            &.active{
                                background-color: #7451f8;
                                color: #fff;
                            }
                        }
                    }
            
                    &:hover{
                        .actionOptions{
                            display: flex;
                            transition: all .4s ease;
                        }
                    }
                }
            }
        }
    }
}