.navBar{
    border-bottom: 0.5px solid rgb(230, 227, 227);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        width: 100%;
        padding: 9.3px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input{
                outline: none;
                border: none;
                background: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .nav-items{
            display: flex;
            align-items: center;
            gap: 1rem;

            .item{
                display: flex;
                align-items: center;
                position: relative;

                .item-icon{
                    font-size: 20px;
                }
                .counter{
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    color: #fff;
                    border-radius: 50%;
                    font-size: 10px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    

                }


                .user-avatar{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }
                
            }
        }
    }
}